@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0 auto; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: #000000;
}

.header{
  background-color: #080808;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}

.logo{
    width: 33px;
    margin: 12px;
}

.tela-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
    flex-direction: column;
}

.img-depoimento{
    height: 299px;
    width: 299px;
    border-radius: 50%;
    padding: 1px;
    background-color: #ffffff;
    margin-top: 120px;
  }
  
 .img-depoimento img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
  }

.logo-centro{
    max-width: 200px;
}
.tela-titulo{
    font-size: 32px;
    margin-top: 30px;
    color: #ffffff;
}

.descricao{
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

.tela-subtitulo{
    font-size: 13px;
    color: #ffffff;
}

.icone-contato{
    cursor: pointer;
    font-size: 42px;
  }

.icone-contato a{
    color: #ffffff !important;
}

.icone-contato a:hover{
    color: #ffffff90 !important;
}

.rodape{
    text-align: center;
    padding: 13px;
    background-color: #080808;
    margin-top: 13px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .logo-rodape{
    width: 30px;
    text-align: center;
    margin-top: 20px;
  }
  
  .title-rodape{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    padding-left: 0px !important;
  }
  
  .title-rodape li{
    display: inline;
  }
  
  .title-rodape li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }

  .title-rodape li a:hover{
    border-bottom: 2px solid #ffffff90;
    color: #ffffff90;
  }
  
  .linha-rodape{
    margin: 2%;
    border: 2px solid #ffffff;
  }
  
  .text-rodape{
    text-align: center;
    font-size: 12px;
    color: #ffffff;
  }

  @media screen and (max-width: 650px) {
    .img-depoimento {
      height: 200px;
      width: 200px;
      display: flex;
      justify-content: center;
  }

    .descricao {
      font-size: 15px;
  }

  .tela-titulo{
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  }